appdirs==1.4.4
asyncgui==0.6.3
asynckivy==0.6.4
build==1.2.2
buildozer==1.5.0
certifi==2024.8.30
charset-normalizer==3.3.2
colorama==0.4.6
Cython==3.0.11
distlib==0.3.8
docutils==0.21.2
filelock==3.16.0
idna==3.9
Jinja2==3.1.4
Kivy==2.3.0
Kivy-Garden==0.1.5
kivymd==2.0.1.dev0
MarkupSafe==2.1.5
materialyoucolor==2.0.9
packaging==24.1
pexpect==4.9.0
pillow==10.4.0
platformdirs==4.3.3
ptyprocess==0.7.0
Pygments==2.18.0
pyproject_hooks==1.1.0
requests==2.32.3
setuptools==75.0.0
sh==1.14.3
toml==0.10.2
urllib3==2.2.3
virtualenv==20.26.4
